@model IEnumerable<ObligatorioP3.EntidadesNegocio.FichaCuidados>

@{
    ViewData["Title"] = "Lista Tipos de Plantas";
}


@if (ViewBag.ok != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.ok
    </div>
}

<h1>Fichas de Cuidados</h1>

<p>
    <a asp-action="Create">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg> Agregar Nueva Ficha
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FrecuenciaRiego)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipoIluminacion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FrecuenciaRiego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoIluminacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperatura)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }


    </tbody>
</table>
        
<div class="col-12">
    <a href="/Planta/Create">Registrar una Planta</a>
</div>
